
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

@Html.ActionLink("Add Disease", "AddDisease")<br />
@Html.ActionLink("Add Symptom", "AddSymptom")<br />
@Html.ActionLink("Check Patient", "CheckPatient")<br />
